@use '../../foundation/mixin' as mix;

pre {
  display: flex;
  align-items: center;
  min-height: 237px;
  background-color: #F5F5F5;
  text-align: left;
  padding-left: 50px;
  margin: 60px auto;
  code {
    vertical-align: middle;
    line-height: 1.5;
  }
}