@use "../../foundation/mixin" as mix;

.p-menunav--single > ol {
  text-align: left;
  padding-left: 50px;
  &:nth-of-type(2) {
    padding-left: 68px;
  }
}


.p-menunav--single > ol + .p-menunav--single > ol {
  margin-top: 20px;
}

.p-menunav--single > ul {
  text-align: left;
  padding-left: 50px;
  &:nth-of-type(2) {
    padding: 20px auto 20px 68px;
  }
}

.p-menunav--single > ul + .p-menunav--single > ul {
  margin-top: 20px;
}

.p-menunav--single > ol + .p-menunav--single > ul {
  margin-top: 20px;
}
