@use "../../foundation/mixin" as mix;
// .c-page__arcive {
//   height: 170px;
//   .c-img__main---archive--first {
//     display: none;
//     padding-top: 100px;
//     margin: 0 auto;
//   }
//   .c-img__main---archive--second {
//     width: 90%;
//     padding-top: 100px;
//   }
//   @include mix.mq(tab) {
//     .c-img__main---archive--first {
//       display: block;
//       margin: 0 auto;
//       padding-top: 100px;
//     }
//     .c-img__main---archive--second {
//       display: none;
//     }
//     @include mix.mq(pc) {
//       height: 249px;
//       .c-img__main---archive--first {
//         padding-top: 150px;
//       }
//     }
//   }
// }

/*wp-pagenavi*/
.wp-pagenavi {
  text-align: center;
  margin: 105px auto 30px;
}
.wp-pagenavi a,
.wp-pagenavi span:not(.pages) {
  color: #707070;
  background-color: #ffffff;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
}

.wp-pagenavi > .page {
  border: solid 1px #e0e0d2;
  font-size: 16px;
}

.wp-pagenavi > .pages {
  border: none;
  font-size: 16px;
}

.wp-pagenavi a.nextpostslink {
  border: none;
  font-size: 20px;
  font-weight: lighter;
}

.wp-pagenavi a.previouspostslink {
  border: none;
  font-size: 20px;
  font-weight: lighter;
}

.wp-pagenavi a:hover {
  color: #ffffff;
  background-color: #999;
  border-color: #999;
}
.wp-pagenavi span.current {
  color: #ffffff;
  background-color: #3c2b1c;
  border-color: #3c2b1c;
  font-weight: bold;
  font-size: 16px;
}
