@use '../../foundation/mixin' as mix;

table {
  background-color: #ffffff;
  min-height: 308px;
  width: 100%;
  border-collapse: collapse;
  td:nth-child(1) {
    width: 31%;
    border: solid 1px black;
    padding-left: 20px;
  }
  td:nth-child(2) {
    width: 69%;
    border: solid 1px black;
    padding-left: 20px;
  }
}