@use "../../foundation/mixin" as mix;

//--top-page--
//header
.c-txt-headline__header {
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  padding-top: 50px;
  @include mix.mq(pc) {
    font-size: 55px;
    @include mix.mq(pc) {
      padding: initial;
    }
  }
}

//main-visual
.c-txt-headline__mainvisual {
  @include mix.text;
  position: absolute;
  top: 40%;
  left: 10%;
  @include mix.mq(tab) {
    display: none;
    @include mix.mq(pc) {
      display: block;
      font-size: 40px;
    }
  }
}

//menu-nav
.c-text__main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  left: 6%;
  top: 3%;
  padding-top: 20px;
  .c-txt-headeline__menunav {
    @include mix.text;
    @include mix.mq(tab) {
      font-size: 44px;
      @include mix.mq(pc) {
        font-size: 50px;
      }
    }
  }
}

.c-txt-headline__textbox {
  @include mix.txt(22px, #3c2a10);
  line-height: 0.8;
  display: block;
  padding: 22px 0 0 12px ;
  @include mix.mq(pc) {
    font-size: 24px;
  }
}

.c-txt-description__textbox {
  @include mix.txt(16px, #3c2a10);
  font-weight: normal;
  margin: 15px auto 15px 10px;
  padding-bottom: 10px;
}

//map
.c-txt-headline__map {
  @include mix.txt(22px, #ffffff);
  position: relative;
  line-height: 2.5;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  z-index: 20;
  @include mix.mq(tab) {
    font-size: 30px;
    @include mix.mq(pc) {
      font-size: 36px;
    }
  }
}
.c-txt-long__map {
  @include mix.txt(14px, #ffffff);
  position: relative;
  left: 10%;
  padding-top: 30px;
  font-weight: normal;
  line-height: 2.5;
  width: 80%;
  z-index: 20;
  @include mix.mq(pc) {
    font-size: 16px;
    width: 40%;
  }
}

//sidebar
.menu-item-type-taxonomy {
  position: relative;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
  left: 10%;
}

.menu-item-type-taxonomy > a {
  color: #707070;
  display: inline-block;
  padding-bottom: 40px;
}

.menu-item-type-post_type {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  text-align-last: left;
  left: 5%;
  &:last-child {
    padding-bottom: 40px;
  }
  &:last-child > a:last-child {
    padding-bottom: 30px;
  }
}

.menu-item-type-post_type > a {
  color: #707070;
  display: inline-block;
}

.menu-item-type-post_type + .menu-item-type-post_type {
  margin-top: 23px;
}

//footer
.l-footer ul {
  display: flex;
  justify-content: center;
}

.page_item > a {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  line-height: 29px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-item-23::after {
  content: "|";
  font-size: 20px;
  padding: 0 8px;
}

.c-txt-copyright__footer {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding-bottom: 30px;
}

//--archive-page--
//main-visual
.c-txt-headline--mainvisual {
  @include mix.txt(25px, #ffffff);
  @include mix.mq(tab) {
    @include mix.txt(39px, #ffffff);
  }
}

.c-txt-search-result--search {
  @include mix.txt(13px, #ffffff);
  font-weight: normal;
}

.c-txt-search-result--archive {
  @include mix.txt(23px, #3c2a10);
}

//menunav
.c-txt-headline__menunav__archive {
  @include mix.txt(23px, #3c2a10);
  margin-bottom: 20px;
}

.c-txt-explanation__menunav__archive {
  @include mix.txt(13px, #3c2a10);
  font-weight: normal;
  line-height: 2;
}

.c-txt-itemname__menunav__archive {
  @include mix.txt(16px, #ffffff);
  position: absolute;
  top: 10%;
  left: 7%;
  @include mix.mq(pc) {
    @include mix.txt(25px, #ffffff);
  }
}

.c-txt-small-headline__menunav__archive {
  @include mix.txt(12px, #ffffff);
  position: absolute;
  top: 25%;
  left: 7%;
  @include mix.mq(pc) {
    @include mix.txt(18px, #ffffff);
  }
}

.c-txt-item-explanation__menunav__archive {
  @include mix.txt(12px, white);
  font-weight: normal;
  position: absolute;
  top: 35%;
  left: 7%;
  width: 80%;
}

//--single--
//main-visual
.c-txt-big-headline--mainvisual--single {
  @include mix.txt(25px, #ffffff);
  position: absolute;
  top: 45%;
  left: 30%;
  @include mix.mq(tab) {
    @include mix.txt(40px, #ffffff);
    left: 15%;
    @include mix.mq(pc) {
      left: 5%;
    }
  }
}

//menunav
.p-menunav--single h2 {
  @include mix.txt(24px, #3c2a10);
  padding: 60px 0;
}

.p-menunav--single p {
  @include mix.txt(11px, #3c2a10);
  font-weight: normal;
  padding-bottom: 60px;
}

.p-menunav--single h3 {
  @include mix.txt(19px, #3c2a10);
  padding-bottom: 60px;
}

.p-menunav--single h4 {
  @include mix.txt(13px, #3c2a10);
  padding-bottom: 60px;
}

.p-menunav--single h5 {
  @include mix.txt(13px, #3c2a10);
  padding-bottom: 60px;
}

.p-menunav--single h6 {
  @include mix.txt(13px, #3c2a10);
  padding-bottom: 60px;
}

.wp-block-quote p {
  @include mix.txt(13px, #3c2a10);
  font-weight: normal;
}

.wp-block-quote cite {
  @include mix.txt(13px, #3c2a10);
  font-weight: normal;
}

.c-txt-long-description-itemcard--single {
  @include mix.txt(11px, #3c2a10);
  width: 54%;
  font-weight: normal;
}

.c-txt-table-head--single {
  @include mix.txt(12px, #3c2a10);
  font-weight: normal;
}

.c-txt-table-data--single {
  @include mix.txt(12px, #3c2a10);
  font-weight: normal;
}

p > strong {
  @include mix.txt(11px, #3c2a10);
  padding-bottom: 177px;
  @include mix.mq(tab) {
    padding-bottom: 228px;
    @include mix.mq(pc) {
      padding-bottom: 333px;
    }
  }
}